**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/.pytest_cache
**/*.pyc
**/*.pyo
**/*.pyd
**/venv
**/env
**/.env
**/tests
**/.coverage
**/htmlcov
**/*.md
!README.md
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore
