apiVersion: v1
kind: Service
metadata:
  name: devops-demo
  labels:
    app: devops-demo
spec:
  type: ClusterIP
  selector:
    app: devops-demo
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  sessionAffinity: None
